<h2><%= flash[:notice] %></h2>

Choose a date
<br>
<br>
<form action="/request" method="POST" >
  Date:<input type="date" name="chosen_date" placeholder="YYYY-MM-DD" min="<%=@space.date_from%>" max="<%=@space.date_to%>" />
  <input type="hidden" name="space_id" value=<%= @space.id %> />
  <input type="submit" value="Request"/>
</form>
