<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <title> Makersbnb </title>
    <meta charset="utf-8">
  </head>

  <body class="homepage">

      <div id="content">
      <p>
        <a href="/">
          <img border="0" src="makersbnb.png"" width="50" height="60">
        </a>
      </p>
    </div>

    <div id="nav_links_2">
        <a href="/log_in">Log in</a>
        |
        <a href="/spaces">Browse spaces</a>
    </div> 

    <div class= "boxed">
      <p1> Feel at home, anywhere </p1><br><br>
      <p2> Sign up to Makersbnb </p2><br><br>
      <form action='/sign_up' method='post'>
        <input type="text" name="fullname" placeholder="Name"/> <br>
        <input type="email" name="email" placeholder="Email" /> <br>
        <input type="password" name="password" placeholder="Password" /><br>
        <input type="submit" value="Sign up" />
      </form>
    </div>

  </body>

</html>