<h2><%= flash[:notice] %></h2>

<h1> Feel at home, anywhere </h1>

<h2> Sign up to Makersbnb </h2>

<form action='/sign_up' method='post'>
  <input type="text" name="fullname" placeholder="Fullname" /> <br>
  <input type="email" name="email" placeholder="Email" /> <br>
  <input type="password" name="password" placeholder="Password" /> <br>
  <input type="submit" value="Submit" />
</form>
