<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <title> Makersbnb </title>
    <meta charset="utf-8">
  </head>

  <body class="homepage">

    <div id="content">
      <img src="makersbnb.png" width="50" height="60">
    </div>

    <form action="/log_in">
        <button type="submit">Log in</button>
      </form>
      <form action="/spaces">
        <button type="submit">Browse spaces</button>
      </form>

    <div class= "boxed">
      <h1> Feel at home, anywhere </h1>
      <h2> Sign up to Makersbnb </h2>
      <form action='/sign_up' method='post'>
        <input type="text" name="fullname" placeholder="Name" /> <br>
        <input type="email" name="email" placeholder="Email" /> <br>
        <input type="password" name="password" placeholder="Password" /> <br><br>
        <input type="submit" value="Sign up" />
      </form>
    </div>

  </body>

</html>