 <html>
    <center>
        <head>
            <link rel="stylesheet" type="text/css" href="/stylesheet.css">
            <title> Makers BnB </title>
            <meta charset="utf-8">
        </head>
 <body class="log">
<div class="oxed">
<h2><%= flash[:notice] %></h2>
<h2> Log in to MakersBnB </h2>

<form action='/log_in' method='post'>
  <input type="email" name="email" placeholder="Email" /> <br>
  <input type="password" name="password" placeholder="Password" /> <br>
  <input type="submit" value="Log in" />
</form>
</div>
</body>
</html>