<h3> Requests made: </h3>

<div>
  <% @all_bookings.each do |booking| %>
  <br>
  Your booking for <%= booking.date %>:
  <br>
  <br>
  <%= @space.title %> <br>
  <%= @space.description %> <br>
  £<%= @space.price_per_night %> per night<br>
  <% end %>
  <br>
</div>
