<% if @user %>
  <h1>Welcome <%= @user.fullname %> </h1>
<% end %>
Book a Space

<% @all_spaces.each do |space| %>
<%=  space.title %>
<% end %>

<form action="/log_out" method="post">
  <input type="submit" value="Log out" />
</form>
