Welcome Riya Dattani
<br>
<br>

Book a Space
<br>
<% @all_spaces.each do |space| %>
<%= space.title %>
<br>
<%= space.description %>
<br>
<%= space.price_per_night %>
<br>
<br>
<% end %>

<br>

<form action="/spaces/new">
  <button type="submit">List a Space</button>
</form>