<form action="/spaces" method="post" >
Form to add space
<br>
<br>
  Title:<input type="text" name="title"/>
<br>
<br>
  Description:<input type="text" name="description"/>
<br>
<br>
  Price per night: £<input type="text" name="price_per_night" />
<br>
<br>
  Available from:<input type="date" name="date_from" placeholder="YYYY-MM-DD"/>
<br>
<br>
  Available to:<input type="date" name="date_to" placeholder="YYYY-MM-DD"/>
<br>
<br>
  <input type="submit" id="submit" value="List"/>
</form>