p1{font-size:32px; font-weight: 500;}
p2{font-size:26px}
html, body, h1, h2, h3, h4, h5, h6, p1, p2 {
  font-family: Arial, Helvetica, sans-serif;
}

body.homepage { background-image:url('london.jpg');
    background-size: cover;
    background-color: #cccccc;
}

body.log {background-image:url('best-city-skylines-hong-kong.jpg');
    background-size: cover;
    background-color: #cccccc;
}

body.spaces {background-image:url('new_york_skyline.jpg');
    background-size: cover;
    background-color: #cccccc;
}

body.request {background-image:url('Forests.jpeg');
   background-size: cover;
    background-color: #cccccc;
}

input[type=text] {
    width: 60%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=email] {
    width: 60%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=password] {
    width: 60%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 30%;
    padding: 10px 10px;
    margin: 30px 0;
    box-sizing: border-box;
  }
  button[id="seemore"] {
    width: 30%;
    padding: 10px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 600;
  }
  button[id="list"] {
    width: 50%;
    padding: 20px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 800;
  }

.login_box {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 5px;
    width: 300px;
    position: relative; 
    top: 120px;
    background-color:#ffffff;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
 }

 .spaces_box {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 360px;
    position: relative; 
    top: 85px;
    background-color:#ffffff;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
 }

 .list_box {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 35px;
    width: 360px;
    position: relative; 
    top: 85px;
    background-color:#ffffff;
    display: block;
    margin: 0 auto;
    border-radius: 10px; 
 }
 .space_line {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
 .boxed {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    position: absolute;
    top: 160px;
    left: 85px;
    width: 420px;
    height: 340px;
    background-color:#ffffff;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
 }
 .right {
    text-align: right; 
 }
 .dates_box {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  position: absolute;
  top: 100px;
  left: 25px;
  width: 420px;
  height: 150px;
  background-color:#ffffff;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

#content {
  position: relative;
}

#content img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
}

#nav_links {
    line-height: 12px;
    width: 18px;
    font-size: 12pt;
    font-family: tahoma;
    margin-top: 20px;
    margin-right: 0px;
    position:absolute;
    top:0;
    right:0;
    width: 20%;
}
.inline {
    display: inline;
  }
  
  .link-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12pt;
    font-family: tahoma;
  }
  .link-button:focus {
    outline: none;
  }
  .link-button:active {
    color:red;
  }